<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real-Time Kamera</title>

    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("/static/service-worker.js")
          .then((reg) => console.log("Service Worker registered!", reg))
          .catch((err) =>
            console.log("Service Worker registration failed!", err)
          );
      }
    </script>
    <link
      rel="manifest"
      href="{{ url_for('static', filename='manifest.json') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="camera-container" id="cameraFrame">
      <div class="logo-container">
        <img
          src="{{ url_for('static', filename='images/d3ti.png') }}"
          alt="D3TI Logo"
        />
        <img
          src="{{ url_for('static', filename='images/uns.png') }}"
          alt="UNS Logo"
        />
      </div>
      <video id="video" autoplay></video>
      <canvas id="canvas"></canvas>
      <div class="controls">
        <button class="open" onclick="startCamera()">
          <i class="fas fa-video"></i> Start
        </button>
        <button class="close" onclick="stopCamera()">
          <i class="fas fa-stop"></i> Stop
        </button>
      </div>
    </div>
    <div class="popup" id="popup">
      <button onclick="resetPage()">
        <i class="fas fa-sync-alt"></i>
      </button>
    </div>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
